@font-face {
	font-family: "Whitney";
	font-style: normal;
	text-rendering: optimizeLegibility;
	src: local("Whitney Medium"), url("whitney.woff") format("woff");
}

* {
	user-select: none;
	box-sizing: border-box;
	font-family: "Whitney";
}

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
}

body {
	display: flex;
	background-color: #303030;
}

::-webkit-scrollbar {
	width: 0.65em;
	background: #00000010;
}
::-webkit-scrollbar-thumb {
	background: #00000020;
}
::-webkit-scrollbar-thumb:hover {
	background: #00000040;
}

.left {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 250px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.left .title {
	display: flex;
	width: 100%;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: #ffffff;
	background-color: #202020;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	text-overflow: ellipsis;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.left .list {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.left .list .dir {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5em;
	padding-left: 1em;
	color: #a0a0a0;
	text-overflow: ellipsis;
}

.left .list .dir .file {
	border-left-color: #404040;
	border-left-width: 2.5px;
	border-left-style: solid;
}

.left .list .file {
	display: flex;
	width: 100%;
	padding: 0.5em;
	color: #a0a0a0;
	text-overflow: ellipsis;
}

.right {
	flex: 1;
	display: flex;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.right .window {
	display: flex;
	height: 100%;
	width: 100%;
	color: #ffffff;
	background-color: #343434;
}

.right .window .title {
	display: flex;

}

.right .window .code {
	display: flex;

}